In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import gmaps.datasets
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Esperance,AU,2022-08-06 02:02:19,-33.8667,121.9000,53.80,66,68,11.27
1,1,Srednekolymsk,RU,2022-08-06 02:02:19,67.4500,153.6833,63.00,47,100,2.84
2,2,Mar Del Plata,AR,2022-08-06 02:00:06,-38.0023,-57.5575,44.10,89,100,1.99
3,3,Hobart,AU,2022-08-06 01:58:11,-42.8794,147.3294,49.05,83,40,14.97
4,4,Albany,US,2022-08-06 02:00:07,42.6001,-73.9662,78.67,82,98,2.93

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of windspeed
locations = city_data_df[["Lat", "Lng"]]
windspeed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=windspeed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Albany,US,2022-08-06 02:00:07,42.6001,-73.9662,78.67,82,98,2.93
9,9,Kavieng,PG,2022-08-06 02:02:21,-2.5744,150.7967,83.80,68,98,3.09
11,11,Vaini,TO,2022-08-06 02:02:22,-21.2000,-175.2000,75.87,82,100,14.23
16,16,Atuona,PF,2022-08-06 02:02:23,-9.8000,-139.0333,77.68,72,18,14.70
17,17,Turan,VN,2022-08-06 02:02:24,16.0678,108.2208,87.78,70,20,2.30
20,20,Bireun,ID,2022-08-06 02:02:25,5.2030,96.7009,81.79,61,100,2.64
24,24,Victoria,HK,2022-08-06 02:02:09,22.2855,114.1577,88.97,85,100,8.99
25,25,Garden City,US,2022-08-06 01:57:32,42.3256,-83.3310,79.21,85,9,4.74
31,31,Puerto Carreno,CO,2022-08-06 02:02:27,6.1890,-67.4859,76.21,92,100,5.17
32,32,Sur,OM,2022-08-06 02:02:28,22.5667,59.5289,86.86,62,100,3.09

In [11]:
preferred_cities_df.count()

City_ID       209
City          209
Country       209
Date          209
Lat           209
Lng           209
Max Temp      209
Humidity      209
Cloudiness    209
Wind Speed    209
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
4           Albany      US     78.67  42.6001  -73.9662
9          Kavieng      PG     83.80  -2.5744  150.7967
11           Vaini      TO     75.87 -21.2000 -175.2000
16          Atuona      PF     77.68  -9.8000 -139.0333
17           Turan      VN     87.78  16.0678  108.2208
20          Bireun      ID     81.79   5.2030   96.7009
24        Victoria      HK     88.97  22.2855  114.1577
25     Garden City      US     79.21  42.3256  -83.3310
31  Puerto Carreno      CO     76.21   6.1890  -67.4859
32             Sur      OM     86.86  22.5667   59.5289

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [14]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.

    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Albany,US,78.67,42.6001,-73.9662,
9,Kavieng,PG,83.80,-2.5744,150.7967,Nusa Island Retreat
11,Vaini,TO,75.87,-21.2000,-175.2000,Keleti Beach Resort
16,Atuona,PF,77.68,-9.8000,-139.0333,Villa Enata
17,Turan,VN,87.78,16.0678,108.2208,Grand Mercure Danang
20,Bireun,ID,81.79,5.2030,96.7009,Rumah Bp.AR. ISMAIL
24,Victoria,HK,88.97,22.2855,114.1577,Mini Central
25,Garden City,US,79.21,42.3256,-83.3310,Big Trees Mobile Home Community
31,Puerto Carreno,CO,76.21,6.1890,-67.4859,Casa Hotel Victoria
32,Sur,OM,86.86,22.5667,59.5289,Sur Plaza Hotel

In [16]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [18]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [19]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))