In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import gmaps.datasets
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Esperance,AU,2022-08-06 02:02:19,-33.8667,121.9000,53.80,66,68,11.27
1,1,Srednekolymsk,RU,2022-08-06 02:02:19,67.4500,153.6833,63.00,47,100,2.84
2,2,Mar Del Plata,AR,2022-08-06 02:00:06,-38.0023,-57.5575,44.10,89,100,1.99
3,3,Hobart,AU,2022-08-06 01:58:11,-42.8794,147.3294,49.05,83,40,14.97
4,4,Albany,US,2022-08-06 02:00:07,42.6001,-73.9662,78.67,82,98,2.93

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))